html
    head
        meta(charset="utf-8")
        title=_title
    body
        h1 
            a(href='/topic') Rev Ready
        ul
            each topic in topics 
                    li
                        a(href='/topic/' + topic)= topic
            article
                form(action='/topic' method='post')
                    p
                        input(type='text' name='title' placeholeder='title')
                    p
                        textarea(name="description" placeholeder='description')
                    p
                        input(type='submit')